.container{
    // flex-direction: column;
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;/* Đảm bảo container chiếm toàn bộ chiều cao của trang */
    width: 50%;
    background-color:#f1f3f4;
    // background-color: #26294b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .group{      
        .h1-welcome, .p-point{
           text-align: center;
           font-family: cursive;
        }
        ol,li ,.name-input,.rules{
            font-family: cursive;
        }
        .name-input .button-start-quiz{
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        .div-button{
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        .mat-mdc-form-field-infix {
            max-height:2px;
        }
    }
}
