<div class="container">
  <div class="group">
    <h1 class="h1-welcome">Welcome to Quiz App</h1>
    <p class="p-point">This quiz will contains total 5 questions. Each question holds 10 points</p>
    <h4 class="rules">Rules: </h4>
    <ol>
      <li>Correct question gives you 10 points</li>
      <li>Incorrect question gives to -10 points</li>
      <li>You will have 60 sec to answer each question</li>
      <li>Refereshing the page  will reset the Quiz</li>
    </ol>
    <div class="name-input">
      <label for="">Enter your name: </label>
      <mat-form-field style="padding: 0px;">
        <input #name matInput type="text" class="form-control">
      </mat-form-field>
    </div>
    <div class="div-button">
      <button mat-raised-button color="warn" class="button-start-quiz" (click)="startQuiz()" routerLink="/pages/question">Start the Quiz !!!</button>
    </div>
  </div>
</div>