.container{
    // flex-direction: column;
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;/* Đảm bảo container chiếm toàn bộ chiều cao của trang */
    width: 50%;
    background-color:#f1f3f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .card{
        width: 100%;

        .quiz-header{
            .h1-title{
                text-align: center;
                font-family: cursive;
            }
            .span-user{
                font-style: italic;
            }   
        }
        .group-sc-qs-timer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .score,
            .question-remain,
            .timer {
                flex: 1;
                text-align: center;
            }

            .score {
                h5 {
                  margin: 0;
                }
            }
            
        }
        .question{
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
           .card{
            border: 1px solid #ccc;
            width: 95%;
            padding: 10px;
            h3{
                margin: 0;

            }
           }
        }

        .option{
            .card{
                border: 1px solid #ccc;
                width: 100%;
                padding: 10px;
                font-family: cursive;

            }
            li .card:hover{
                border: 1px solid blue;
            }
            li{
                margin-bottom: 5px;
                list-style-type: none;
            }
            li .card{
                width: 96%;
            }
            ol{
                padding-left: 10px;
            }
        }
        .group-action-button{
            display: flex;
            justify-content: space-between;
        }
    }

    .congratulation ,h3{
        text-align: center;
        font-family: cursive;
    }
    .span-user{
        margin-left: 5px;
    }
}