<div class="container">
  <div class="card">
     <div class="quiz-header">
        <h4 class="h1-title">Angular and TypeScript Quiz!</h4>
        <span class="span-user">
            Welcome {{name}}
        </span>
     </div>

    <ng-container *ngIf="!isQuizCompleted">
      <div class="group-sc-qs-timer">
        <div class="score">
          <h5>{{points}} point</h5>
        </div>

        <div class="question-remain">
          <span>Question {{currentQuestion+1}} of {{questionList.length}}</span>
        </div>

        <div class="timer">
          <span> {{counter}} sec</span>
          <!-- <mat-icon>history</mat-icon> -->
        </div>
      </div>

      <div class="question">
        <div class="card">
          <h3>{{questionList[currentQuestion]?.questionText}}</h3>
        </div>
      </div>

      <div class="option">
        <ol *ngFor = "let option of questionList[currentQuestion]?.options">
          <li (click)="answer(currentQuestion+1,option)">
            <div class="card">
              {{option.text}}
            </div>
          </li>
        </ol>
      </div>

      <div class="group-action-button">
          <button mat-button [disabled]="currentQuestion===0" (click)="previousQuestion()" class="button-back"><mat-icon>keyboard_arrow_left</mat-icon></button>
          <button mat-button (click)="resetQuiz()" class="btton-reload"><mat-icon>replay</mat-icon></button>
          <button mat-button [disabled]="currentQuestion===questionList.length - 1" (click)="nextQuestion()" class="button-next"><mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>
    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="congratulation">
        <h3>Congratulation!!!</h3>
        <p>You have completed the quiz.</p>
        <p>Below is your result</p>
        <p>Total question Attempted : {{questionList.length}} </p>
        <p>Total correct Answered : {{correctAnswer}}</p>
        <p>Total wrong Answered : {{incorrectAnswer}}</p>
        <p>Your score : {{points}} Points</p>
        <div class="div-button">
          <button mat-raised-button color="warn" class="button-start-quiz" routerLink="/pages/home">Quiz Again</button>
        </div>
      </div>
     
    </ng-container>
  </div>
</div>